body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1440px;
    height: fit-content;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
    

}

.logo {
    
    padding-top: 20px;
    
   
}

.logotype {
    height: 102px;
    width: 400px;
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 20px;

}

.phone-number{
    color: black;
    font-size: 24px;
}

.timetable {
    color: gray;
    font-size: 22px;
}

.adress {
    color: gray;
    font-size: 22px;
}

.line {
    width: 1340px;
    height: fit-content;
    border: 1px solid black;
    margin-bottom: 30px;
}

.wrapper-main-pic{
    width: 1200px;
    height: 390px;
    /* background-image: url(../pic/sigmund-_dJCBtdUu74-unsplash.jpg); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 50px;
    
}

.wrapper_adv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    height: fit-content;
    /* border: 1px solid white; */
    padding-right: 60px;
    padding-top: 40px;
}

.article{
    font-size: 60px;
    color: rgb(255, 255, 255);
    /* padding-left: 40px;
    padding-right: 40px; */
}

.motivation {
    font-size: 52px;
    color: aliceblue;
    

}

.char_company {
    width: 1000px;
    height: fit-content;
    font-size: 24px;
    margin-bottom: 30px;
}

.ways {
    align-self: flex-start;
    font-size: 32px;
    padding-left: 140px;
    margin-bottom: 45px;
}

.wrapper-pic-ways {
    width: 1180px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.group-way{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 585px;
    height: fit-content;
    /* border: 1px black solid; */
    margin-bottom: 50px;
    
}



.pic-way {
    width: 530px;
    height: 300px;
    /* background-image: url(../pic/sigmund-_dJCBtdUu74-unsplash.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    /* border: 1px solid black; */
    margin-bottom: 30px;
    /* object-fit: cover; */
    overflow: hidden;
    
}

.pic-way {
    transition: 1s;
}

.pic-way:hover {
    transform: scale(1.2);
}



.text-way {
    
    font-size: 24px;
    
    

}

.wrapper-coop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1180px;
    height: fit-content;
}

.group-vac {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;

}

.des{
    margin-right: 90px;
}

.designer {
    width: 56px;
    height: 56px;
}

.arch {
    margin-right: 90px;
    padding-left: 25px;
}

.architect {
    width: 68px;
    height: 68px;
}

.arti {
    margin-right: 90px;
}

.painter {
    width: 72px;
    height: 72px;
}

.vac-text{
    font-size: 32px;
}

.mechan {
    margin-right: 90px;

}

.mechanic {
    width: 0px;
    height: 0px;
}



