body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1340px;
    height: fit-content;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
    

}

.logo {
    
    padding-top: 20px;
    
   
}

.logotype {
    height: 102px;
    width: 400px;
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 20px;

}

.phone-number{
    color: black;
    font-size: 24px;
}

.timetable {
    color: gray;
    font-size: 22px;
}

.adress {
    color: gray;
    font-size: 22px;
}

.line {
    width: 1340px;
    height: fit-content;
    border: 1px solid black;
    margin-bottom: 30px;
}

.wrapper-main-pic{
    width: 1200px;
    height: 390px;
    /* background-image: url(../pic/sigmund-_dJCBtdUu74-unsplash.jpg); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 50px;
    
}

.wrapper_adv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    height: fit-content;
    /* border: 1px solid white; */
    padding-right: 60px;
    padding-top: 40px;
}

.article{
    font-size: 60px;
    color: rgb(255, 255, 255);
    /* padding-left: 40px;
    padding-right: 40px; */
}

.motivation {
    font-size: 52px;
    color: aliceblue;
    

}

.char_company {
    width: 1000px;
    height: fit-content;
    font-size: 24px;
    margin-bottom: 30px;
}

.ways {
    width: 1000px;
    height: fit-content;
    font-size: 32px;
    padding-left: 140px;
    margin-bottom: 90px;
}

.wrapper-pic-ways {
    width: 1180px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.group-way{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 585px;
    height: fit-content;
    /* border: 1px black solid; */
    margin-bottom: 50px;
    
}



.pic-way {
    width: 530px;
    height: 300px;
    /* background-image: url(../pic/sigmund-_dJCBtdUu74-unsplash.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    /* border: 1px solid black; */
    margin-bottom: 30px;
    /* object-fit: cover; */
    overflow: hidden;
    
}

.pic-way {
    transition: 1s;
}

.pic-way:hover {
    transform: scale(1.2);
}



.text-way {
    font-size: 24px;
}

.what_are_doing{
    font-size: 32px;
    margin-bottom: 20px;
}


.wrapper_categories {
    display: flex;
    flex-direction: column;
    width: 1350px;
    height: fit-content;
    /* border: 1px solid black; */
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.wrapper_buttons_for_category {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
    margin-bottom: 40px;
    width: 1350px;
}

.wrapper_button {
    width: 200px;
    height: fit-content;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border: 0px;
    background-color: white;
    border-radius: 15px;
}

button:hover {
    background-color: #37a6de;
    color: white;
}

button:active {
    background-color: white;
    color: black;
}

#model{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

#model_imagine{
    max-width: 100%;
    max-height: 100%;
}
